html{
    font-size: 10px;
}

body{
    margin: 0px;
    padding: 0px;

    .container{
        background-color: gray;
        padding: 5px;
        width: 200px;
        
        .grid_container{
            background-color: white;
            margin: 5px 10px;
            border: 1px solid;
            padding: 10px;

            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 35% 10% 40% 5% 10%;

            grid-template-areas: 
                "Image Image"
                "Title ."
                "Text Text"
                ". Published"
                "Button Button";

            .grid_image{
                grid-area: Image;
            }

            .grid_title{
                grid-area: Title;
                font-size: 2rem;
            }    

            .grid_text{
                grid-area: Text;
                margin: 6px 0px;
            }

            .grid_published{
                grid-area: Published;
                margin: 6px 0px;
            }

            .grid_button{
                grid-area: Button;
                background-color: greenyellow;
                font-size: 1.2rem;
                margin: 4px;
                padding: 3px 6px;
                
            }
        }
    }    
}